html, body {
  font-family: 'Quicksand', serif;
}

:root {
  --bs-body-line-height: 1.3;
}

.btn-submit {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 440px;
  font-weight: 600;
  padding-top: 12px;
  padding-bottom: 10px;
  background-color: #06a021;
  border-color: #06a021;
  display: flex;
  justify-content: center;
  font-family: "Quicksand", serif;
}

.btn-submit:focus, .btn-submit:active, .btn-submit:hover {
  box-shadow: 0 0 10px 1px #cbcccd;
  outline: none;
}

.btn-submit i {
  display: inline-block;
  width: 8px;
  margin-left: 8px;
  padding: 9px;
  border-radius: 50%;
  background-color: #cccccc7d;
  font-size: 10px;
  vertical-align: middle;
  display: flex;
  width: 26px;
  height: 26px;
  vertical-align: middle;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.btn-submit i.noborder {
  font-size: 16px;
  border-radius: 0%;
  background-color: transparent;
}

.btn-submit.thin {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
}

.btn-submit.btn-info {
  background-color: #0750d7;
  border-color: #06a021;
  color: #fff;
}

.btn-submit.btn-info:hover {
  background-color: #06a021;
}

.btn-link {
  border-color: transparent;
  background-color: transparent;
}

.btn-icon {
  border-color: transparent;
  background-color: transparent;
}

.btn-second {
  background-color: #06a021;
  color: #fff;
  border-color: #06a021;
  padding: 7px 24px;
  font-family: "Quicksand", serif;
  font-weight: 600;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}

.btn-second:hover, .btn-second:after {
  background-color: #0750d7;
  color: #fff;
}

.btn-primary {
  background-color: #0750d7;
  color: #fff;
  border-color: #0750d7;
  padding: 7px 24px;
  font-family: "Quicksand", serif;
  font-weight: 600;
  border-radius: 8px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.btn-primary:hover, .btn-primary:after {
  background-color: #06a021;
  color: #fff;
}

.mnr-parent {
  background: linear-gradient(0deg, #06a021 0%, #0750d7 100%);
  padding-left: 11px;
  border-radius: 21px;
  position: absolute;
  right: 10px;
  z-index: 1000;
  transition: top 400ms ease-in-out, opacity 400ms ease-in-out;
  top: -500px;
  opacity: 0;
}

.mnr-parent.show {
  opacity: 1;
  top: calc(100% + 10px);
}

.mnr-parent .mnr-menu {
  background-color: white;
  color: #111827;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 10px 4px;
  color: #0a0a0a;
  overflow: hidden;
  position: relative;
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: -1px;
  width: 280px;
}

.mnr-parent .mnr-menu ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.mnr-parent .mnr-menu ul li {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  transition: background-color 300ms ease-in-out;
}

.mnr-parent .mnr-menu ul li a {
  text-decoration: none;
  padding: 5px 20px;
  display: flex;
  color: #030303;
  font-weight: 500;
}

.mnr-parent .mnr-menu ul li a .mnr-icon {
  margin-right: 15px;
  height: 25px;
}

.mnr-parent .mnr-menu ul li.endGroup {
  border-bottom: 1px solid #cbcccd;
}

.mnr-parent .mnr-menu ul li.active a, .mnr-parent .mnr-menu ul li:hover a {
  background-color: #ebebeb;
  color: #06a021;
}

.mnr-parent .mnr-menu ul li.active a {
  font-weight: 600;
}

.mnr-parent:after {
  content: "";
  position: absolute;
  right: 40px;
  top: -8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
}

.mnl-button {
  position: fixed;
  top: calc(105px + 100px);
  left: 0;
  z-index: 999;
  width: 25px;
  height: 180px;
  background-color: #e1e2e2;
  border-radius: 0 18px 18px 0;
  cursor: pointer;
}

.mnl-button i {
  position: absolute;
  top: calc(50% - 10px);
  left: 30%;
  font-size: 20px;
  color: #828583;
}

.mnl-button:hover i {
  animation-duration: 0.5s;
  animation-name: right-right;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: forward;
}

@keyframes right-right {
  0% {
    left: 30%;
    opacity: 1;
  }
  100% {
    left: calc(30% + 8px);
    opacity: 0;
  }
}

.mnl {
  position: fixed;
  left: -300px;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: #fff;
  z-index: 1000;
  opacity: 0;
  transition: left 400ms ease-in-out, opacity 400ms ease-in-out;
  box-shadow: 3px 0px 10px 1px rgba(204, 204, 204, 0.5);
}

.mnl .top-logo {
  height: 105px;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 20px;
}

.mnl .top-logo .bar {
  position: absolute;
  right: 10px;
  top: 10px;
}

.mnl.show {
  left: 0;
  opacity: 1;
}

.mnl ul.lv1 {
  list-style-type: none;
  padding-left: 0;
}

.mnl ul.lv1 a {
  text-decoration: none;
  color: #090909;
}

.mnl ul.lv1 > li {
  font-weight: 500;
  position: relative;
}

.mnl ul.lv1 > li > a,
.mnl ul.lv1 > li > span {
  padding: 25px 20px 25px 30px;
  display: flex;
  vertical-align: middle;
  cursor: pointer;
}

.mnl ul.lv1 > li > a .icon,
.mnl ul.lv1 > li > span .icon {
  margin-right: 20px;
  height: 25px;
  width: 30px;
}

.mnl ul.lv1 > li.hasChild {
  transition: height 0.3s ease-in-out;
}

.mnl ul.lv1 > li.hasChild::after {
  content: "\f078";
  position: absolute;
  right: 15px;
  top: 25px;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 400;
  color: #b6b6b6;
}

.mnl ul.lv1 > li.active {
  background-color: #f8fafc;
  border-bottom: 1px solid #eeeaea;
}

.mnl ul.lv1 > li.active:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #a9a9aa;
  width: 6px;
}

.mnl ul.lv1 > li.active a,
.mnl ul.lv1 > li.active span {
  color: #0750d7;
  font-weight: 600;
}

.mnl ul.lv1 > li.active:after {
  color: #0750d7;
}

.mnl ul.lv1 > li.active .icon {
  filter: invert(16%) sepia(64%) saturate(6026%) hue-rotate(218deg) brightness(91%) contrast(94%);
}

.mnl ul.lv1 > li:hover {
  background-color: #f8fafc;
}

.mnl ul.lv1 > li:hover:after {
  color: #0750d7;
}

.mnl ul.lv1 > li:hover > a,
.mnl ul.lv1 > li:hover > span {
  color: #0750d7;
}

.mnl ul.lv1 > li:hover .icon {
  filter: invert(16%) sepia(64%) saturate(6026%) hue-rotate(218deg) brightness(91%) contrast(94%);
}

.mnl ul.lv1 > li.endGroup {
  border-bottom: 1px solid #eeeaea;
}

.mnl ul.lv2 {
  padding-left: 30px;
  list-style-type: none;
}

.mnl ul.lv2 li {
  padding-left: 25px;
}

.mnl ul.lv2 li a {
  display: inline-block;
  padding: 8px 18px;
  width: 100%;
}

.mnl ul.lv2 li:first-child a {
  padding-top: 0;
}

.mnl ul.lv2 li:hover a {
  color: #0750d7;
}

html,
body {
  background-color: #eef2f5;
}

/* SCROLL BAR */
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

/* END SCROLL BAR */
.color-primary {
  color: #0750d7;
}

.color-second {
  color: #06a021;
}

.text-bold {
  font-weight: 600;
}

.text-decoration {
  text-decoration: underline !important;
}

.font-sm {
  font-size: 14px;
}

.link {
  text-decoration: none;
  color: #0a0a0a;
}

.link.link-decoration {
  text-decoration: underline;
}

.link.link-primary {
  color: #06a021 !important;
}

.link:hover, .link:active, .link:focus {
  color: #06a021;
}

.bar {
  color: #abadb0;
  font-size: 30px;
}

.breadcrumb .breadcrumb-item a {
  color: #090909;
  text-decoration: none;
  font-weight: 500;
}

.breadcrumb .breadcrumb-item a:hover {
  text-decoration: underline;
}

.breadcrumb .breadcrumb-item.active a {
  font-weight: 700;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: '\f0da';
  font-family: 'Font Awesome 5 Pro';
  font-weight: 800;
  font-size: 14px;
  line-height: calc(1.3 * 16px);
  padding-left: 7px;
  padding-right: 14px;
}

.toast {
  border-radius: 1.25rem;
  background-color: #0750d7;
  color: #fff;
  position: relative;
}

.toast-body {
  padding-bottom: 0;
}

.toast .toast-content p {
  margin-bottom: 0;
}

.toast button {
  background: transparent;
  position: absolute;
  top: 5px;
  right: 10px;
}

.toast button i {
  color: #fff;
  font-size: 20px;
}

.bg-default {
  background-color: #073488;
}

.bg-last {
  background-color: #606060;
}

.bg-new {
  background-color: #06a021;
}

.box-tile {
  border-radius: 1.25rem;
  box-shadow: 0 0 10px 1px #ccc;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}

.box-tile .thumb {
  position: relative;
}

.box-tile .thumb .thumnails-template {
  position: relative;
  overflow: hidden;
  transition: .4s ease;
  border: 1px solid;
  border-color: transparent;
  font-size: 0px;
  display: block;
  border: none;
}

.box-tile .thumb .thumnails-template:before {
  content: "";
  display: block;
  padding-top: 73%;
}

.box-tile .thumb .thumnails-template .thumnails-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f1f1;
  overflow: hidden;
}

.box-tile .thumb .thumnails-template .thumnails-content img {
  width: 100%;
  height: auto;
}

.box-tile .thumb .thumnails-template:hover {
  transition: 0.4s ease-in-out;
}

.box-tile .thumb .thumb-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: #020024;
  background: linear-gradient(0deg, #0750d7 0%, #0750d7 10%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
  align-items: flex-end;
}

.box-tile .thumb .thumb-layer.hide {
  display: none;
}

.box-tile .thumb .thumb-layer span {
  padding-left: 10px;
  color: #fff;
  border-left: 3px solid #fff;
}

.box-tile .content {
  padding-left: 0;
}

.box-tile .content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-tile .content-top--left {
  padding: 12px 10px;
  position: relative;
}

.box-tile .content-top--left .title {
  padding-left: 45px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0;
  text-decoration: none;
}

.box-tile .content-top--left::before {
  content: '';
  background-image: url("../../assets/icons/tutorial.png");
  background-position: center left;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: calc(50% - 15px);
}

.box-tile .content-top--right {
  padding: 12px 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.box-tile .content-top--right svg {
  margin-bottom: 3px;
}

.box-tile .content-tabs {
  padding-left: 15px;
  padding-right: 15px;
}

.box-tile .content-tabs ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 5px;
}

.box-tile .content-tabs ul li {
  margin-right: 12px;
  margin-bottom: 12px;
}

.box-tile .content-tabs ul a {
  font-weight: 600;
  font-size: 0.85rem;
  border-radius: 10px;
  display: inline-block;
  padding: 5px 10px;
  background-color: #e1e9fa;
  color: #2651a0;
  text-decoration: none;
}

.box-tile .content-tabs ul a:hover {
  text-decoration: underline;
}

.box-tile .content-main {
  padding-left: 15px;
  padding-right: 15px;
}

.box-tile .content-main > div {
  margin-bottom: 5px;
}

.box-tile .content-main .title {
  font-weight: 600;
  text-decoration: none;
  font-size: 1.35rem;
  margin-bottom: 1rem;
}

.box-tile .content-main .title:hover {
  color: #0750d7;
}

.box-tile .content-main span {
  font-family: "EB Garamond", serif;
  color: #939794;
  border-left: 4px solid #939794;
  line-height: 1;
  font-weight: 600;
}

.box-tile .content-main p {
  font-family: "EB Garamond", serif;
  color: #191a1a;
  font-size: 1.05rem;
  margin-bottom: 0;
}

.box-tile .info {
  border-top: 1px solid #cbcccd;
  border-bottom: 1px solid #cbcccd;
  display: flex;
  flex-direction: row;
}

.box-tile .info .brand {
  flex: 0 0 33.333%;
  max-width: 33.333%;
  display: flex;
  align-items: center;
}

.box-tile .info .brand-logo {
  padding-right: 1rem;
}

.box-tile .info .brand-logo img {
  width: 50px;
}

.box-tile .info .brand-info span {
  display: block;
}

.box-tile .info .brand-info .brand-info1 {
  color: #a7a8a7;
  font-size: .9em;
}

.box-tile .info .brand-info .brand-info2 {
  color: #030303;
  font-weight: 600;
}

.box-tile .event-time {
  flex: 0 0 33.333%;
  max-width: 33.333%;
  display: flex;
  flex-direction: column;
}

.box-tile .event-time svg {
  width: 40px;
}

.box-tile .event-register {
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.box-tile .event-register--left {
  padding: 8px 15px;
  flex: 0 0 70%;
  max-width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.box-tile .event-register--left .item .icon {
  padding-right: 6px;
  color: #0750d7;
  display: inline-block;
}

.box-tile .event-register--left .item .icon i {
  font-size: 16px;
}

.box-tile .event-register--right {
  padding: 8px 15px;
  border-left: 1px solid #cbcccd;
}

.box-tile:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10%;
  height: 10%;
  background: url("../assets/icons/icon-af.svg");
  background-position: top;
}

.box-list-item {
  border-radius: 1.25rem;
  box-shadow: 0 0 10px 1px #ccc;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}

.box-list-item .thumb {
  position: relative;
}

.box-list-item .thumb .thumnails-template {
  position: relative;
  overflow: hidden;
  transition: .4s ease;
  border: 1px solid;
  border-color: transparent;
  font-size: 0px;
  display: block;
  border: none;
}

.box-list-item .thumb .thumnails-template:before {
  content: "";
  display: block;
  padding-top: 73%;
}

.box-list-item .thumb .thumnails-template .thumnails-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f1f1;
  overflow: hidden;
}

.box-list-item .thumb .thumnails-template .thumnails-content img {
  width: 100%;
  height: auto;
}

.box-list-item .thumb .thumnails-template:hover {
  transition: 0.4s ease-in-out;
}

.box-list-item .thumb .thumb-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: #020024;
  background: linear-gradient(0deg, #0750d7 0%, #0750d7 10%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
  align-items: flex-end;
}

.box-list-item .thumb .thumb-layer.hide {
  display: none;
}

.box-list-item .thumb .thumb-layer span {
  padding-left: 10px;
  color: #fff;
  border-left: 3px solid #fff;
}

.box-list-item .content {
  padding-left: 0;
}

.box-list-item .content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-list-item .content-top--left {
  padding: 12px 10px;
  position: relative;
}

.box-list-item .content-top--left .title {
  padding-left: 45px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  margin-bottom: 0;
  text-decoration: none;
}

.box-list-item .content-top--left::before {
  content: '';
  background: url("../assets/icons/tutorial.png");
  background-position: center left;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: calc(50% - 15px);
}

.box-list-item .content-top--right {
  padding: 12px 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.box-list-item .content-top--right svg {
  margin-bottom: 3px;
}

.box-list-item .content-tabs {
  padding-left: 15px;
  padding-right: 15px;
}

.box-list-item .content-tabs ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 5px;
}

.box-list-item .content-tabs ul li {
  margin-right: 12px;
  margin-bottom: 12px;
}

.box-list-item .content-tabs ul a {
  font-weight: 600;
  font-size: 0.85rem;
  border-radius: 10px;
  display: inline-block;
  padding: 5px 10px;
  background-color: #e1e9fa;
  color: #2651a0;
  text-decoration: none;
}

.box-list-item .content-tabs ul a:hover {
  text-decoration: underline;
}

.box-list-item .content-main {
  padding-left: 15px;
  padding-right: 15px;
}

.box-list-item .content-main > div {
  margin-bottom: 5px;
}

.box-list-item .content-main .title {
  font-weight: 600;
  text-decoration: none;
  font-size: 1.35rem;
}

.box-list-item .content-main .title:hover {
  color: #0750d7;
}

.box-list-item .content-main span {
  font-family: "EB Garamond", serif;
  color: #939794;
  border-left: 4px solid #939794;
  line-height: 1;
  font-weight: 600;
}

.box-list-item .content-main p {
  font-family: "EB Garamond", serif;
  color: #191a1a;
  font-size: 1.05rem;
  margin-bottom: 0;
}

.box-list-item .info {
  border-top: 1px solid #cbcccd;
  border-bottom: 1px solid #cbcccd;
  display: flex;
  flex-direction: row;
}

.box-list-item .info .brand {
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  align-items: center;
}

.box-list-item .info .brand-logo {
  padding-right: 1rem;
}

.box-list-item .info .brand-logo img {
  width: 50px;
}

.box-list-item .info .brand-info span {
  display: block;
}

.box-list-item .info .brand-info .brand-info1 {
  color: #a7a8a7;
  font-size: .9em;
}

.box-list-item .info .brand-info .brand-info2 {
  color: #030303;
  font-weight: 600;
}

.box-list-item .info .event-time {
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.box-list-item .info .event-time svg {
  width: 40px;
}

.box-list-item .event-register {
  display: flex;
  flex-direction: column;
}

.box-list-item .event-register--left {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #cbcccd;
}

.box-list-item .event-register--left .item {
  padding: 10px 15px;
}

.box-list-item .event-register--left .item:not(:last-child) {
  border-right: 1px solid #cbcccd;
}

.box-list-item .event-register--left .item .icon {
  padding-right: 6px;
  color: #0750d7;
  display: inline-block;
}

.box-list-item .event-register--left .item .icon i {
  font-size: 16px;
}

.box-list-item .event-register--right {
  padding: 8px 15px;
  border-left: 1px solid #cbcccd;
}

.box-list-item:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 87px;
  height: 50px;
  background: url("../assets/icons/icon-af.svg");
  background-position: top;
}

.box-list-2 {
  border-radius: 1.25rem;
  box-shadow: 0 0 10px 1px #ccc;
  overflow: hidden;
  position: relative;
  background-color: #fefefe;
}

.box-list-2 .list-item .swiper-slide {
  border-right: 1px solid #cbcccd;
}

.box-list-2 .content {
  padding-left: 0;
}

.box-list-2 .content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-list-2 .content-top--left {
  padding: 12px 10px;
  position: relative;
  width: 100%;
}

.box-list-2 .content-top--left .title {
  padding-left: 45px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  margin-bottom: 0;
  text-decoration: none;
}

.box-list-2 .content-top--left::before {
  content: '';
  background-image: url("../../assets/icons/tutorial.png");
  background-position: center left;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: calc(50% - 15px);
}

.box-list-2 .content-top--right {
  padding: 12px 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.box-list-2 .content-top--right svg {
  margin-bottom: 3px;
}

.box-list-2 .content-tabs {
  padding-left: 15px;
  padding-right: 15px;
}

.box-list-2 .content-tabs ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 5px;
}

.box-list-2 .content-tabs ul li {
  margin-right: 12px;
  margin-bottom: 12px;
}

.box-list-2 .content-tabs ul a {
  font-weight: 600;
  font-size: 0.85rem;
  border-radius: 10px;
  display: inline-block;
  padding: 5px 10px;
  background-color: #e1e9fa;
  color: #2651a0;
  text-decoration: none;
}

.box-list-2 .content-tabs ul a:hover {
  text-decoration: underline;
}

.box-list-2 .content-main {
  padding-left: 15px;
  padding-right: 15px;
}

.box-list-2 .content-main > div {
  margin-bottom: 5px;
}

.box-list-2 .content-main .title {
  font-weight: 600;
  text-decoration: none;
  font-size: 1.35rem;
  margin-bottom: 1rem;
}

.box-list-2 .content-main .title:hover {
  color: #0750d7;
}

.box-list-2 .content-main span {
  font-family: "EB Garamond", serif;
  color: #939794;
  border-left: 4px solid #939794;
  line-height: 1;
  font-weight: 600;
}

.box-list-2 .content-main p {
  font-family: "EB Garamond", serif;
  color: #191a1a;
  font-size: 1.05rem;
  margin-bottom: 0;
}

.box-list-2 .sumary {
  padding: 12px 15px;
  font-family: "EB Garamond", serif;
}

.box-list-2 .thumb {
  position: relative;
}

.box-list-2 .thumb .thumnails-template {
  position: relative;
  overflow: hidden;
  transition: .4s ease;
  border: 1px solid;
  border-color: transparent;
  font-size: 0px;
  display: block;
  border: none;
}

.box-list-2 .thumb .thumnails-template:before {
  content: "";
  display: block;
  padding-top: 73%;
}

.box-list-2 .thumb .thumnails-template .thumnails-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f1f1;
  overflow: hidden;
}

.box-list-2 .thumb .thumnails-template .thumnails-content img {
  width: 100%;
  height: auto;
}

.box-list-2 .thumb .thumnails-template:hover {
  transition: 0.4s ease-in-out;
}

.box-list-2 .thumb .thumb-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: #020024;
  background: linear-gradient(0deg, #0750d7 0%, #0750d7 10%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
  align-items: flex-end;
}

.box-list-2 .thumb .thumb-layer.hide {
  display: none;
}

.box-list-2 .thumb .thumb-layer span {
  padding-left: 10px;
  color: #fff;
  border-left: 3px solid #fff;
}

.box-list-2 .content-main {
  padding-left: 15px;
  padding-right: 15px;
}

.box-list-2 .content-main > div {
  margin-bottom: 5px;
}

.box-list-2 .content-main .title {
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.box-list-2 .content-main .title:hover {
  color: #0750d7;
}

.box-list-2 .content-main .content-body {
  margin-top: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  line-clamp: 4;
  line-height: 1;
}

.box-list-2 .content-main span {
  font-family: "EB Garamond", serif;
  color: #939794;
  border-left: 4px solid #939794;
  line-height: 1;
  font-weight: 600;
}

.box-list-2 .content-main p {
  font-family: "EB Garamond", serif;
  color: #191a1a;
  font-size: 1rem;
  margin-bottom: 0;
}

.box-list-2 .info {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #cbcccd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.box-list-2 .info .brand {
  display: flex;
  align-items: center;
}

.box-list-2 .info .brand-logo {
  padding-right: 1rem;
}

.box-list-2 .info .brand-logo img {
  width: 40px;
}

.box-list-2 .info .brand-info span {
  display: block;
}

.box-list-2 .info .brand-info .brand-info1 {
  color: #a7a8a7;
  font-weight: 400;
  font-size: .9em;
}

.box-list-2 .info .brand-info .brand-info2 {
  color: #030303;
  font-weight: 600;
}

.box-list-2 .info .icon-readmore {
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #0750d7;
  position: relative;
}

.box-list-2 .info .icon-readmore svg,
.box-list-2 .info .icon-readmore i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.box-list-2 .event-register {
  display: flex;
  flex-direction: column;
}

.box-list-2 .event-register--left {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #cbcccd;
}

.box-list-2 .event-register--left .item {
  padding: 10px 15px;
  font-size: 14px;
}

.box-list-2 .event-register--left .item:not(:last-child) {
  border-right: 1px solid #cbcccd;
}

.box-list-2 .event-register--left .item .icon {
  padding-right: 6px;
  color: #0750d7;
  display: inline-block;
}

.box-list-2 .event-register--left .item .icon i {
  font-size: 14px;
}

.box-list-2 .event-register--right {
  padding: 8px 15px;
  border-left: 1px solid #cbcccd;
}

.card-parent {
  background: linear-gradient(0deg, #06a021 0%, #0750d7 100%);
  padding-left: 11px;
  border-radius: 21px;
}

.card-parent .card-ds {
  background-color: white;
  color: #111827;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 10px 4px;
  color: #0a0a0a;
  overflow: hidden;
  position: relative;
  border: none;
  padding-bottom: 0.5rem;
}

.card-parent .card-ds .card-header {
  background-color: transparent;
  padding-top: 1rem;
  font-weight: 800;
  font-size: 1.2rem;
}

.card-parent .card-ds .card-body {
  font-family: "EB Garamond", serif;
}

.overpage {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: transparent;
  z-index: 100;
  opacity: 0.4;
  display: none;
}

.overpage.show {
  display: block;
}

.content-tabs {
  padding-left: 15px;
  padding-right: 15px;
}

.content-tabs ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 5px;
}

.content-tabs ul li {
  margin-right: 12px;
  margin-bottom: 12px;
}

.content-tabs ul a {
  font-family: "Quicksand", serif;
  font-weight: 600;
  font-size: 0.85rem;
  border-radius: 10px;
  display: inline-block;
  padding: 5px 10px;
  background-color: #e1e9fa;
  color: #2651a0;
  text-decoration: none;
}

.content-tabs ul a:hover {
  text-decoration: underline;
}

.readMore {
  color: #0750d7;
  text-transform: uppercase;
  font-family: "Quicksand", serif;
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
}

.readMore:after {
  content: '\f0da';
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  padding-left: 5px;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1220px;
  }
}

.page-auth .logo {
  padding-top: 30px;
  margin-bottom: 30px;
}

.page-auth footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.page-auth .footer {
  position: relative;
}

.page-auth .footer:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 1px;
  background-color: #d2d4d5;
}

.page-auth .footer a {
  color: #777575;
}

.page-auth .footer a:hover {
  color: #0750d7;
}

.page-auth .box-parent {
  background: linear-gradient(0deg, #06a021 0%, #0750d7 100%);
  padding-left: 11px;
  border-radius: 21px;
}

.page-auth .box-login {
  background-color: white;
  color: #111827;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 10px 4px;
  width: 440px;
  color: #0a0a0a;
  overflow: hidden;
  position: relative;
  padding: 2rem 2.5rem;
}

.page-auth .box-login.box-biger {
  width: 840px;
}

.page-auth .f-title {
  font-family: "EB Garamond", serif;
  font-weight: bold;
}

.page-auth .form-group .form-label {
  font-weight: 600;
}

.page-auth .form-group .form-control,
.page-auth .form-group .form-select {
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: #cbcccd;
  border-radius: 8px;
}

.page-auth .form-group .form-control.form-pin,
.page-auth .form-group .form-select.form-pin {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.page-auth .form-group .form-control:active, .page-auth .form-group .form-control:focus,
.page-auth .form-group .form-select:active,
.page-auth .form-group .form-select:focus {
  box-shadow: none;
  border-color: #06a021;
}

.page-auth .form-group .form-control option,
.page-auth .form-group .form-select option {
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-auth .form-group .input-group-text {
  background-color: transparent;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #c9c7c7;
  font-size: 1.2rem;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.page-auth .form-desc {
  padding-top: 1rem;
  font-weight: 500;
}

.page-auth .form-desc.drawTop {
  border-top: 1px solid #cbcccd;
}

.page-auth .form-sub-desc {
  font-size: small;
  font-weight: 500;
}

.page-auth .forgotPassword {
  font-size: small;
}

.page-auth .form-sub .form-hr {
  position: relative;
}

.page-auth .form-sub .form-hr:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: #cbcccd;
  z-index: -1;
}

.page-auth .form-sub .form-hr p {
  display: inline-block;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #fff;
  margin-bottom: 0;
  z-index: 1;
  font-weight: 600;
  color: #6d6e6d;
}

.page-auth .drawY {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 1px solid #cbcccd;
  border-bottom: 1px solid #cbcccd;
}

.page-auth .select-job {
  background-color: #e0f9e4;
  color: #535252;
  font-weight: 600;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.page-auth .select-job svg {
  position: absolute;
  right: 10px;
  filter: invert(38%) sepia(35%) saturate(872%) hue-rotate(80deg) brightness(99%) contrast(88%);
}

.page-auth .select-job.selected, .page-auth .select-job:hover {
  color: #fff;
  background-color: #06a021;
}

.page-auth .select-job.selected svg, .page-auth .select-job:hover svg {
  filter: none;
}

.page-auth .hide {
  visibility: hidden;
  height: 0;
  display: none !important;
}

.page-auth .show {
  visibility: initial;
  height: auto;
}

.dashboard header {
  position: relative;
  height: 105px;
  background-color: #fff;
  box-shadow: 0 3px 10px 1px rgba(204, 204, 204, 0.5);
  z-index: 1005;
}

.dashboard header:before {
  z-index: 1006;
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, #0750d7 0%, #0750d7 45%, #06a021 55%, #06a021 100%);
}

.dashboard header .header {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1005;
  background-color: #fff;
}

.dashboard header .header > .row {
  width: 100%;
  height: 100%;
}

.dashboard header .header-left {
  display: flex;
  align-items: center;
}

.dashboard header .header-left .logo-pc,
.dashboard header .header-left .logo-md {
  padding-left: 2rem;
}

.dashboard header .header-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dashboard header .header-middle .form-group {
  width: 100%;
}

.dashboard header .header-middle .input-group {
  min-width: 400px;
  width: 60%;
  margin: auto;
}

.dashboard header .header-middle .input-group-text {
  background-color: transparent;
  border-color: transparent;
  background-color: #eef2f5;
  border-radius: 16px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #06a021;
}

.dashboard header .header-middle .form-control {
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: #eef2f5;
  background-color: #eef2f5;
  border-radius: 16px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.dashboard header .header-middle .form-control:focus, .dashboard header .header-middle .form-control:active {
  box-shadow: none;
}

.dashboard header .header-middle .notification {
  position: absolute;
  top: calc(50% - 12.5px);
  right: 1rem;
  display: flex;
}

.dashboard header .header-middle .notification .alter {
  margin-right: 1.5rem;
}

.dashboard header .header-middle .notification .alter,
.dashboard header .header-middle .notification .email {
  font-size: 25px;
  color: #b6b6b6;
  position: relative;
  padding-right: 4px;
}

.dashboard header .header-middle .notification .haveit {
  display: inline-block;
  background-color: #a81010;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 4px;
  right: 0;
  border: 3px solid #fff;
  box-sizing: content-box;
}

.dashboard header .header-right {
  justify-content: space-between;
  border-left: 1px solid #cbcccd;
  display: flex;
  align-items: center;
}

.dashboard header .header-right .user-header {
  display: flex;
}

.dashboard header .header-right .user-header .circle-avatar {
  width: 60px;
  height: 60px;
  margin-right: 12px;
}

.dashboard header .header-right .user-header .circle-avatar img {
  box-shadow: 0 0 10px 1px #ccc;
}

.dashboard header .header-right .user-header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard header .header-right .user-header-text--name {
  font-weight: 800;
}

.dashboard header .header-right .user-header-text--subName {
  font-size: 0.85rem;
  color: #7291cb;
}

.dashboard header .header-right .user-button {
  cursor: pointer;
  border-radius: 8px;
  background-color: #f3f3f3;
  padding: 5px 10px;
  display: flex;
}

.dashboard header .header-right .user-button i {
  font-size: 20px;
  color: #8ed893;
}

.dashboard header .header-right .user-button:hover i {
  color: #06a021;
}

.dashboard main {
  margin-top: 1.25rem;
}

.dashboard main .namePage {
  position: relative;
}

.dashboard main .namePage .name-page {
  font-family: "EB Garamond", serif;
  font-weight: bold;
}

.dashboard main .sw-banner {
  border-radius: 1.25rem;
  box-shadow: 0 0 10px 1px #ccc;
}

.dashboard main .task {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.dashboard main .task li {
  position: relative;
  padding-left: 30px;
}

.dashboard main .task li:not(:last-child) {
  margin-bottom: 10px;
}

.dashboard main .task li:before {
  content: "";
  background-image: url("../assets/icons/arrow-right.png");
  background-repeat: no-repeat;
  background-position: center left;
  position: absolute;
  left: 0;
  top: calc(50% - 15px);
  width: 20px;
  height: 10px;
}

.dashboard main .filter {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px 10px 25px;
  background-color: #0750d7;
  color: #fefefe;
  border-radius: 10px;
  font-weight: 600;
  font-style: italic;
  font-size: 16px;
  border-color: transparent;
}

.dashboard main .filter span {
  display: inline-block;
  padding-right: 10px;
}

.dashboard main .filter-child {
  background-color: transparent;
  color: #c6c2c2;
  font-size: 14px;
}

.dashboard main .filter-child span {
  text-decoration: underline;
}

.topic .card-desc {
  border-bottom: 1px solid #e7ebef;
}

.topic .item-first {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 15px;
  border-bottom: 1px solid #e7ebef;
}

.topic .item-first--left {
  flex: 0 0 50%;
  max-width: 50%;
}

.topic .item-first--left .thumb {
  position: relative;
}

.topic .item-first--left .thumb .thumnails-template {
  position: relative;
  overflow: hidden;
  transition: .4s ease;
  border: 1px solid;
  border-color: transparent;
  font-size: 0px;
  display: block;
  border: none;
}

.topic .item-first--left .thumb .thumnails-template:before {
  content: "";
  display: block;
  padding-top: 66.667%;
}

.topic .item-first--left .thumb .thumnails-template .thumnails-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f1f1;
  overflow: hidden;
}

.topic .item-first--left .thumb .thumnails-template .thumnails-content img {
  width: 100%;
  height: auto;
}

.topic .item-first--left .thumb .thumnails-template:hover {
  transition: 0.4s ease-in-out;
}

.topic .item-first--right {
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
}

.topic .item-first--right .title {
  color: #0a0a0a;
  font-weight: 600;
  font-size: 16px;
  font-family: "Quicksand", serif;
}

.topic .item-first--right .category {
  margin-bottom: 0;
  padding-left: 5px;
  border-left: 3px solid #939794;
  font-size: 12px;
  font-family: "EB Garamond", serif;
  font-weight: 600;
  color: #939794;
}

.topic .item-first--desc {
  margin-top: 10px;
  padding-left: 10px;
  border-left: 6px solid #e6e6e6;
}

.topic .item-first--desc p {
  margin-bottom: 5px;
  line-height: 1.2;
}

.topic .item-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 10px;
  margin-bottom: -16px;
}

.topic .item-list--child {
  padding-left: 10px;
  border-left: 6px solid #e6e6e6;
  flex: 0 0 50%;
  max-width: 50%;
  margin-bottom: 16px;
}

.topic .item-list--child .date-item {
  color: #06a021;
  margin-bottom: 4px;
  font-family: "Quicksand", serif;
  font-size: 14px;
  font-weight: 600;
}

.topic .item-list--child h5.title-item {
  font-size: 14px;
}

.topic .card-footer {
  background-color: #fff;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  border-top: 1px solid #e7ebef;
  justify-content: space-between;
}

.topic .card-footer--left {
  position: relative;
  width: 90%;
}

.topic .card-footer--right {
  color: #c6c2c2;
}

.calendar-eventOfme {
  padding-bottom: 10px;
}

.calendar-eventOfme .top-calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calendar-eventOfme .top-calendar .top--left span {
  font-family: "Quicksand", serif;
  font-weight: 800;
}

.calendar-eventOfme .top-calendar .top--left .btn-icon {
  padding-left: 0;
  padding-right: 0;
  color: #908e8e;
}

.calendar-eventOfme .top-calendar .top--right .btn-link {
  font-family: "Quicksand", serif;
  font-size: 14px;
  color: #5e615f;
}

.calendar-eventOfme .main-calendar ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0.5rem;
  border-bottom: 6px solid #06a021;
}

.calendar-eventOfme .main-calendar ul li {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 12px 9px;
  cursor: pointer;
}

.calendar-eventOfme .main-calendar ul li span:first-child {
  color: #abaaaa;
  font-family: "Quicksand", serif;
  font-weight: 600;
  margin-bottom: 6px;
}

.calendar-eventOfme .main-calendar ul li span:last-child {
  color: #000;
  font-family: "Quicksand", serif;
  font-weight: 800;
  position: relative;
}

.calendar-eventOfme .main-calendar ul li span:last-child.haveEvent:after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #a81010;
  position: absolute;
  right: 0;
  top: 0;
}

.calendar-eventOfme .main-calendar ul li.dateNow {
  background-color: #06a021;
  border-radius: 1.5rem 1.5rem 0 0;
}

.calendar-eventOfme .main-calendar ul li.dateNow span:first-child,
.calendar-eventOfme .main-calendar ul li.dateNow span:last-child {
  color: #fff;
}

.calendar-eventOfme .main-calendar ul li.dateNow span.haveEvent:after {
  background-color: #fff;
}

.calendar-eventOfme .bottom-calendar {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #06a021;
}

.calendar-eventOfme .bottom-calendar .bottom--left {
  padding-right: 1rem;
}

.calendar-eventOfme .bottom-calendar .bottom--right {
  margin-bottom: 1rem;
}

.calendar-eventOfme .bottom-calendar .bottom--right .tag {
  font-family: "Quicksand", serif;
  color: #06a021;
  font-weight: 600;
  font-size: 14px;
}

.calendar-eventOfme .bottom-calendar .bottom--right .title {
  font-family: "Quicksand", serif;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 800;
}

.calendar-eventOfme .bottom-calendar .bottom--right .date {
  display: flex;
  padding-left: 15px;
  border-left: 4px solid #bebfc0;
  margin-bottom: 1rem;
  font-family: "Quicksand", serif;
  font-size: 13px;
}

.calendar-eventOfme .bottom-calendar .bottom--right .date .time {
  position: relative;
  padding-left: 25px;
}

.calendar-eventOfme .bottom-calendar .bottom--right .date .time:before {
  content: "";
  position: absolute;
  left: 10px;
  top: calc(50% - 3px);
  width: 6px;
  height: 6px;
  background-color: #bebfc0;
  border-radius: 10px;
}

.calendar-eventOfme .bottom-calendar .bottom--right .link {
  margin-top: 1rem;
}

.question {
  padding-top: 1rem;
  border-top: 6px solid #06a021;
}

.question .qa-item .qa-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #06a021;
  margin-bottom: 1rem;
}

.question .qa-item .qa-top--left span {
  font-family: "Quicksand", serif;
  color: #06a021;
  font-weight: 800;
  font-size: 16px;
}

.question .qa-item .qa-top--left .btn-icon {
  padding-left: 0;
  padding-right: 0;
  color: #908e8e;
}

.question .qa-item .qa-top--right {
  font-family: "Quicksand", serif;
  color: #767678;
  font-size: 13px;
}

.question .qa-item .qa-top--right b,
.question .qa-item .qa-top--right strong {
  color: #000;
}

.question .qa-item .qa-main {
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #06a021;
}

.question .qa-item .qa-main .form-check {
  margin-bottom: 0.75rem;
}

.question .qa-item .link {
  margin-top: 1rem;
}

.question .qa-bottom ul {
  list-style-type: none;
  padding-left: 0;
}

.question .qa-bottom ul li {
  margin-bottom: 0.5rem;
}

.question .qa-bottom ul p {
  margin-bottom: 5px;
}

.question .qa-bottom ul .progress {
  --bs-progress-height: 1.5rem;
  --bs-progress-bar-bg: #2860c9;
  --bs-progress-bg: #f2f0f0;
}

.question .qa-bottom ul .progress .progress-bar {
  font-family: "Quicksand", serif;
  font-weight: 600;
}

.question .qa-bottom ul strong {
  font-weight: 600;
  font-size: 15px;
  font-family: "Quicksand", serif;
}

.notifiMed-item {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.notifiMed-item:not(:last-child) {
  border-bottom: 1px solid #06a021;
}

.notifiMed-item .icon {
  padding-right: 10px;
}

.notifiMed-item .content .title {
  font-weight: 600;
  margin-bottom: 0.75rem;
  font-size: 1.05rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  line-height: 1;
}

.notifiMed-item .content .desc {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  line-clamp: 4;
  line-height: 1;
}

.lastSee-item {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.lastSee-item:not(:last-child) {
  border-bottom: 1px solid #cbcccd;
}

.lastSee-item .icon {
  padding-right: 10px;
}

.lastSee-item .content .category {
  text-transform: uppercase;
  color: #06a021;
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 600;
}

.lastSee-item .content .title {
  font-family: "Quicksand", serif;
  font-weight: 600;
  margin-bottom: 0.75rem;
  font-size: 1.05rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  line-height: 1;
}

.lastSee-item .content .bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.lastSee-item .content .bottom .content-tabs {
  padding-left: 0;
}
/*# sourceMappingURL=site.css.map */