html, body{
  background-color: $color-bg;
}
.link{
  text-decoration: none;
  color: $color-text;
  &.link-decoration{
    text-decoration: underline;
  }
  &.link-primary{
    color: $color-second !important;
  }
  &:hover,&:active,&:focus{
    color: $color-second;
  }
}
.bar{
  color: #abadb0;
  font-size: 30px;
}