.mnr-parent {
  background: linear-gradient(0deg, #06a021 0%, #0750d7 100%);
  padding-left: 11px;
  border-radius: 21px;
  position: absolute;
  right: 10px;
  z-index: 1000;
  transition: top 400ms ease-in-out, opacity 400ms ease-in-out;
  top: -500px;
  opacity: 0;

  &.show {
    // right: calc(-100% - 10px);
    opacity: 1;
    top: calc(100% + 10px);
  }

  .mnr-menu {
    background-color: rgb(255, 255, 255);
    color: rgb(17, 24, 39);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 10px 4px;
    color: $color-text;
    overflow: hidden;
    position: relative;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: -1px;
    width: 280px;

    ul {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0;

      li {
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        transition: background-color 300ms ease-in-out;

        a {
          text-decoration: none;
          padding: 5px 20px;
          display: flex;
          color: #030303;
          font-weight: 500;

          .mnr-icon {
            margin-right: 15px;
            height: 25px;
          }
        }

        &.endGroup {
          border-bottom: 1px solid $color-border;
        }

        &.active,
        &:hover {
          a {
            background-color: #ebebeb;
            color: $color-second;
          }
        }

        &.active {
          a {
            font-weight: 600;
          }
        }
      }
    }
  }

  &:after {
    content: "";
    position: absolute;
    right: 40px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
  }
}

.mnl-button {
  position: fixed;
  top: calc(105px + 100px);
  left: 0;
  z-index: 999;
  width: 25px;
  height: 180px;
  background-color: #e1e2e2;
  border-radius: 0 18px 18px 0;
  cursor: pointer;

  i {
    position: absolute;
    top: calc(50% - 10px);
    left: 30%;
    font-size: 20px;
    color: #828583;
  }

  &:hover i {
    animation-duration: 0.5s;
    animation-name: right-right;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: forward;
  }

  @keyframes right-right {
    0% {
      left: 30%;
      opacity: 1;
    }

    100% {
      left: calc(30% + 8px);
      opacity: 0;
    }
  }
}

.mnl {
  position: fixed;
  left: -300px;
  // left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: #fff;
  z-index: 1000;
  opacity: 0;
  transition: left 400ms ease-in-out, opacity 400ms ease-in-out;
  box-shadow: 3px 0px 10px 1px rgba(204, 204, 204, 0.5);

  .top-logo {
    height: 105px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 20px;

    .bar {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

  &.show {
    left: 0;
    opacity: 1;
  }

  ul.lv1 {
    list-style-type: none;
    padding-left: 0;

    a {
      text-decoration: none;
      color: #090909;
    }

    >li {
      font-weight: 500;
      position: relative;

      >a,
      >span {
        padding: 25px 20px 25px 30px;
        display: flex;
        vertical-align: middle;
        cursor: pointer;

        .icon {
          margin-right: 20px;
          height: 25px;
          width: 30px;
        }
      }

      &.hasChild {
        transition: height 0.3s ease-in-out;

        &::after {
          content: "\f078";
          position: absolute;
          right: 15px;
          top: 25px;
          font-family: 'Font Awesome 5 Pro';
          font-weight: 400;
          color: #b6b6b6;
        }
      }

      &.active {
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          background-color: #a9a9aa;
          width: 6px;
        }

        background-color: #f8fafc;
        border-bottom: 1px solid #eeeaea;

        a,
        span {
          color: $color-primary;
          font-weight: 600;
        }

        &:after {
          color: $color-primary;
        }

        .icon {
          filter: invert(16%) sepia(64%) saturate(6026%) hue-rotate(218deg) brightness(91%) contrast(94%);
        }
      }

      &:hover {
        background-color: #f8fafc;

        &:after {
          color: $color-primary;
        }

        >a,
        >span {
          color: $color-primary;
        }

        .icon {
          filter: invert(16%) sepia(64%) saturate(6026%) hue-rotate(218deg) brightness(91%) contrast(94%);
        }
      }



      &.endGroup {
        border-bottom: 1px solid #eeeaea;
      }

      // &.childClose {
      //   ul.lv2 {
      //     margin-top: 0;
      //     height: 0;
      //     overflow: hidden;
      //   }
      // }

      // &:not(.childClose) {
      //   ul.lv2 {
      //     height: auto;
      //     overflow: hidden;
      //   }
      // }
    }
  }

  ul.lv2 {
    padding-left: 30px;
    list-style-type: none;

    li {
      padding-left: 25px;

      a {
        display: inline-block;
        padding: 8px 18px;
        width: 100%;
      }

      &:first-child {
        a {
          padding-top: 0;
        }
      }

      &:hover {
        a {
          color: $color-primary;
        }
      }
    }
  }
}